<div class="dialog-container">

<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

<h1 mat-dialog-title>Add User</h1>
<div mat-dialog-content>

<mat-form-field appearance="outline" class="form-field full-width margin-bottom">
    <mat-label>First Name</mat-label>
    <input [disabled]="loading" [(ngModel)]="user.firstName" matInput placeholder="Placeholder" [formControl]="firstNameForm"> 
    <mat-error *ngIf="firstNameForm.invalid">{{getFirstNameErrorMessage()}}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width margin-bottom">
    <mat-label>Last Name</mat-label>
    <input [disabled]="loading" [(ngModel)]="user.lastName" matInput placeholder="Placeholder" [formControl]="lastNameForm">
    <mat-error *ngIf="lastNameForm.invalid">{{getlastNameErrorMessage()}}</mat-error>
  </mat-form-field>
  <div>

    <mat-form-field appearance="outline" class="full-width margin-bottom">
      <mat-label>Job Title</mat-label>
      <mat-select [(ngModel)]="user.jobTitle" name="jobTitle">
        <mat-option *ngFor="let job of jobTitles" [value]="job">{{job}}</mat-option>
      </mat-select>
    </mat-form-field>

    <div>
      <mat-form-field appearance="outline" class="full-width margin-bottom">
        <mat-label>E-Mail</mat-label>
        <input [disabled]="loading" [(ngModel)]="user.email" matInput placeholder="Placeholder" [formControl]="emailForm">
        <mat-error *ngIf="emailForm.invalid">{{getEmailErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="outline" class="full-width margin-bottom">
        <mat-label>Phone Number</mat-label>
        <input [disabled]="loading" [(ngModel)]="user.phoneNumber" matInput placeholder="Placeholder" [formControl]="phoneNumberForm">
        <mat-error *ngIf="phoneNumberForm.invalid">{{getPhoneNumberErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <mat-form-field appearance="outline" class="full-width margin-bottom">
        <mat-label>Birth Date</mat-label>
        <input [disabled]="loading" [(ngModel)]="user.birthDate" matInput [matDatepicker]="datepicker" [formControl]="birthDateForm">
        <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
        <mat-datepicker #datepicker>
          <mat-datepicker-actions>
            <button mat-button matDatepickerCancel>Cancel</button>
            <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
          </mat-datepicker-actions>
        </mat-datepicker>
        <mat-error *ngIf="birthDateForm.invalid">{{getBirthDateErrorMessage()}}</mat-error>
      </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="outline" class="full-width margin-bottom">
        <mat-label>Street + Housenumber</mat-label>
        <input [disabled]="loading" [(ngModel)]="user.street" matInput placeholder="Placeholder" [formControl]="streetAndHouseNumberForm">
        <mat-error *ngIf="streetAndHouseNumberForm.invalid">{{getStreetAndHouseNumberErrorMessage()}}</mat-error>
      </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="outline" class="mr-16">
        <mat-label>Zipcode</mat-label>
        <input [disabled]="loading" [(ngModel)]="user.zipCode" matInput placeholder="Placeholder" [formControl]="zipCodeForm">
        <mat-error *ngIf="zipCodeForm.invalid">{{getZipCodeErrorMessage()}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>City</mat-label>
        <input [disabled]="loading" [(ngModel)]="user.city" matInput placeholder="Placeholder" [formControl]="cityForm">
        <mat-error *ngIf="cityForm.invalid">{{getCityErrorMessage()}}</mat-error>
      </mat-form-field>
  </div>

</div>
<div mat-dialog-actions class="center">
  <button [disabled]="loading" mat-button (click)="dialogRef.close()">Cancel</button>
  <button [disabled]="!canAddUser() || loading" mat-button (click)="saveUser()" cdkFocusInitial>Add</button>
</div>

</div>