<div class="dialog-container">

  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  
  <h1 mat-dialog-title>Add Event</h1>
  <div mat-dialog-content>
  
  <mat-form-field appearance="outline" class="full-width form-field">
      <mat-label>Title</mat-label>
      <input [disabled]="loading" [(ngModel)]="event.title" matInput placeholder="Placeholder" name="title" required>
    </mat-form-field>
  
   
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Description</mat-label>
      <input [disabled]="loading" [(ngModel)]="event.description" matInput placeholder="Placeholder">
    </mat-form-field>
   
  
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Date of the Event</mat-label>
      <input [disabled]="loading" [(ngModel)]="event.date" matInput [matDatepicker]="datepicker">
      <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
      <mat-datepicker #datepicker>
        <mat-datepicker-actions>
          <button mat-button matDatepickerCancel>Cancel</button>
          <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
        </mat-datepicker-actions>
      </mat-datepicker>
    </mat-form-field>



    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Invite User to Event</mat-label>
      <mat-select [(ngModel)]="selectedUser">
        <mat-option *ngFor="let user of users" [value]="user.firstName + ' ' + user.lastName">{{ user.firstName }} {{ user.lastName }}</mat-option>
      </mat-select>
    </mat-form-field>


    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Invite Company to Event</mat-label>
      <mat-select [(ngModel)]="selectedCompany">
        <mat-option *ngFor="let company of companys" [value]="company.name">{{ company.name }} </mat-option>
      </mat-select>
    </mat-form-field>
  

  <div mat-dialog-actions class="center">
    <button [disabled]="loading" mat-button (click)="dialogRef.close()">Cancel</button>
    <button [disabled]="loading" mat-button (click)="saveEvent()" cdkFocusInitial>Save</button>
  </div>
  
