<div class="header-container">
  <div class="headline">Events</div>
  <img class="question-mark" (click)="toggleInstructions()" src="assets/img/question.png"
    alt="picture of question mark">
</div>

<div class="customer-information" [ngClass]="{'slide-in': showInstructions}" *ngIf="showInstructions">
  <h2> <b> Welcome to the Events Overview page of my CRM system! </b> </h2>


  <b> This page serves as a central hub for efficiently managing your events. Here's a simple guide on how to navigate and utilize this page: </b> <br> <br>

  <b> Adding Events: </b> <br>
  To get started, click on the "Add Event" button, located at the bottom right corner of the page. Fill in the necessary event details, 
  including the event name, date, location, and any additional relevant information. Once you're done, hit "Save" to add the event to your list. <br>

  <b>Viewing Events:</b> <br>
  The main section of the page displays a list of all your events. You'll find essential information like event names and key details here. Scroll through this list to get a quick overview of your events.<br>

  <b>Detailed Event Information: </b> <br>
  When you click on an event, you'll be able to view more detailed information about that specific event, including attendees, 
  schedule, and any related data. You also have the option to delete the event if necessary to keep your event list up to date.<br>
</div>

<div class="balken"></div>





<mat-card class="search">
  <mat-card-content>
    <div class="search-container">
      <input type="text" class="inputfield" placeholder="Enter a Name" [(ngModel)]="searchQuery"
        (input)="performSearch()">
      <p class="search-text">Search for a Event</p>
      <img class="search-image" src="assets/img/search.png">
    </div>
  </mat-card-content>
</mat-card>



<!-- ---------------EVENTS LIST ------------------>
<div class="mt-32" *ngFor="let event of filteredEvents" routerLink='{{event.id}}'>

  <!--COMPANY ADRESS-->
  <div class="company">
    <div>
      <h1 class="company-title">
        {{event.title}}
      </h1>


    </div>

  </div>

  <div>
    <div class="schraeger-balken">

      <div class="currently-assigned-container">
        <p class="currently-assigned">
          DATE FOR THE EVENT
        </p>

        <div class="assigned-user" *ngIf="event.assignedUsers.length > 0; else noUsersAssigned">
          <b class="date"> {{ getFormattedDate(event.date.toDate()) }}</b>
        </div>
      </div>


      <ng-template #noUsersAssigned>
        <b class="no-user-assigned">No user assigned, go to a Users Profil to assign User to Company</b>
      </ng-template>
    </div>
  </div>


  <div class="building-image-container">
    <img class="building-image" src="assets/img/event-card.png" alt="">
  </div>


</div>











<button (click)="openDialog()" class="add-event-button" mat-fab color="primary" matTooltip="Add Event">
  <mat-icon>add</mat-icon>
</button>