<div class="project-title-container" id="project-title-container" #projectTitleContainer>
    <div class="project-title">
        <span class="title">Simple CRM <img src="assets/img/favIcon.png" alt=""></span>
    </div>
</div>

<div class="loading-screen" #loadingScreen>
    <img src="assets/img//favIcon.png" alt="">
</div>

<div class="login-container" #loginContainer>
    

    <h2>Login</h2>

    
    <mat-card class="formular-card">
        <mat-progress-bar *ngIf="loading" mode="indeterminate" class="progress-bar"></mat-progress-bar>
    
    <div class="formular">
        <form class="example-form">
            <div class="input-fields">
                <mat-form-field class="example-full-width">
                    <mat-label>Enter your email</mat-label>
                    <input type="email" matInput placeholder="Ex. pat@example.com" [(ngModel)]="email" name="email">
                </mat-form-field>
           

            

            
                <mat-form-field>
                    <mat-label>Enter your password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" type="password" matInput [(ngModel)]="password" name="password">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  </mat-form-field>
            </div>

        </form>

        <div class="error-message" *ngIf="errorMessage">
            {{ errorMessage }}
        </div>


    </div>

    <div class="login-button">
        <button mat-raised-button color="primary" (click)="login()">Login</button>
    </div>

    <div class="guest-login-button">
        <button mat-raised-button color="primary" routerLink="/dashboard" >Guest Login</button>
    </div>
</mat-card>


    <mat-card class="not-a-user-card">
        <div class="register">
            <b>Not a User?</b> <a routerLink="/register">Register</a>
        </div>
    </mat-card>
    
</div>