<div class="project-title-container">
    <div class="project-title">
        <span class="title">Simple CRM</span>
    </div>
    
</div>



<div class="login-container">
    

    <h2>Login</h2>

    
    <mat-card class="formular-card">
        <mat-progress-bar *ngIf="loading" mode="indeterminate" class="progress-bar"></mat-progress-bar>
    
    <div class="formular">
        <form class="example-form">
            <div>
                <mat-form-field class="example-full-width">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput placeholder="Ex. pat@example.com" [(ngModel)]="email" name="email">
                </mat-form-field>
            </div>



            <div>
                <mat-form-field class="example-full-width">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput [(ngModel)]="password" name="password">
                </mat-form-field>
            </div>

        </form>

        <div class="error-message" *ngIf="errorMessage">
            {{ errorMessage }}
        </div>


    </div>

    <div class="login-button">
        <button mat-raised-button color="primary" (click)="login()">Login</button>
    </div>

    <div class="guest-login-button">
        <button mat-raised-button color="primary" routerLink="/dashboard" >Guest Login</button>
    </div>
</mat-card>


    <mat-card class="not-a-user-card">
        <div class="register">
            <b>Not a User?</b> <a routerLink="/register">Register</a>
        </div>
    </mat-card>
    
</div>