<div class="dialog-container">

    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

    <h1 mat-dialog-title>Add Note</h1>
    <div mat-dialog-content>

        <mat-form-field appearance="outline" class="form-field mr-16 padding-top full-width">
            <mat-label>Title</mat-label>
            <input [disabled]="loading" [(ngModel)]="note.title" matInput placeholder="Placeholder">
        </mat-form-field>


        <div>
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Description</mat-label>
                <input [disabled]="loading" [(ngModel)]="note.description" matInput placeholder="Placeholder">
            </mat-form-field>
        </div>

        <div mat-dialog-actions class="center">
            <button [disabled]="loading" mat-button (click)="dialog.close()">Cancel</button>
            <button [disabled]="loading" mat-button (click)="saveNote()" cdkFocusInitial>Save</button>
        </div>

    </div>