.headline{
    display: flex;
    align-items: center;


    font-size: 48px;
    color: rgb(63,81,181);
    margin-top: 16px;
    margin-bottom: 32px;
    font-weight:550;

    img{
        margin-left: 16px;
        height: 65px;
    }
}

.legal-notice{
    padding: 32px;
    border: 5px solid rgb(63,81,181);
    background-color: white;
}