.headline {
    display: flex;
    align-items: center;

    font-size: 40px;
    color: black;
    margin-top: 16px;
    margin-bottom: 32px;
    font-weight: 550;

    img {
        margin-left: 16px;
        height: 40px;
    }
}

.legal-notice{
    padding: 16px;
    border: 5px solid #FFFFFF;
    background-color: white;
}

// ------------------------ BALKEN ---------------- //
.balken {
    height: 25px;
    width: 100% !important;
    margin-bottom: 32px;
    background: linear-gradient(to right, #F8BBD0, #e64379 50%, #d13e6f 75%, #d62f72 100%);
}