<div class="dialog-container">

    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

    <h1 mat-dialog-title>Edit User Information</h1>
    <div mat-dialog-content>

        <mat-form-field appearance="outline" class="form-field mr-16">
            <mat-label>Name</mat-label>
            <input [disabled]="loading" [(ngModel)]="company.name" matInput placeholder="Placeholder">
          </mat-form-field>
        
      
          <div>
            
            <div>
                <mat-form-field appearance="outline" class="full-width">
                  <mat-label>Number</mat-label>
                  <input [disabled]="loading" [(ngModel)]="company.phoneNumber" matInput placeholder="Placeholder">
                </mat-form-field>
              </div>

            <div>
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>E-Mail</mat-label>
                <input [disabled]="loading" [(ngModel)]="company.email" matInput placeholder="Placeholder">
              </mat-form-field>
            </div>

            
        
           

    </div>
    <div mat-dialog-actions class="center">
        <button [disabled]="loading" mat-button (click)="dialogRef.close()">Cancel</button>
        <button [disabled]="loading" mat-button (click)="saveCompany()" cdkFocusInitial>Save</button>
    </div>

</div>

