mat-card-content {
    padding-left: 0;
    padding-right: 0;
}

.headline{
    display: flex;
    align-items: center;
    
    font-size: 48px;
    color: rgb(63,81,181);
    margin-top: 16px;
    margin-bottom: 32px;
    font-weight:550;

    img{
        margin-left: 16px;
        height: 70px;
    }
}

.customer-information{
    border: 15px solid rgb(63,81,181);
    padding: 16px;
    margin-bottom: 32px;
    background-color: white;
    border-radius: 5px;
}

.add-user-button {
    position: absolute;
    right: 56px;
    bottom: 56px;
}

.user-table {
    width: 100%;
    border-collapse: collapse;

    tr {
        border-bottom: 1px solid rgba(0, 0, 0, 0.4);
        &:first-child {
            cursor: unset;
            &:hover{
                background-color: unset;
            }
        }

        &:last-child {
            border-bottom: 0;
        }
        cursor: pointer;


        td {
            height: 48px;
            &:first-child{
                padding-left: 16px;
            }
        }

        th{
            &:first-child{
                padding-left: 16px;
            }
        }

        &:hover{
            background-color: rgba(0, 0, 0, 0.04);
        }
    }



    th {
        color: rgba(0, 0, 0, 0.4);
        font-size: 14px;
        font-weight: 500;
        text-align: start;
    }
}