<h1 class="headline">Customer Overview</h1>

<div class="customer-information">

  <h2> <b> Welcome to the Customer Overview page of my CRM system! </b> </h2>

  
  <b> This page serves as a central hub for managing your contacts efficiently. Here's a simple guide on how to navigate and
  utilize this page: </b> <br> <br>

  <b> Adding Contacts: </b> <br>
  To begin, click on the "Add Contact" button, located on the bottom right corner of the page. Fill in the necessary details
  such as the person's name, contact information, and any additional relevant data. Once you're done, hit "Save" to add
  the contact to your list. <br>

  <b>Viewing Contacts:</b> <br>
  The main section of the page displays a list of all your contacts. You'll find essential information like names and
  key details here. Scroll through this list to get a quick overview of your contacts.<br>

  <b>Editing Contacts: </b> <br>
  If you need to update any information for a specific contact, simply click on their name in the list. This action will
  take you to an editable view of their details. Here, you can make changes, corrections, or updates as necessary. Don't
  forget to hit "Save" after making your edits.<br>
 
  </div>


<mat-card>
  <mat-card-content>
    <table class="user-table">
      <tbody>
        <tr>
          <th>Name</th>
          <th>E-Mail</th>
          <th>City</th>
        </tr>

        <tr routerLink='{{user.id}}' *ngFor="let user of users">
          <td>{{user.firstName}} {{user.lastName}}</td>
          <td>{{user.email}}</td>
          <td>{{user.city}}</td>
        </tr>
      </tbody>

    </table>
  </mat-card-content>
</mat-card>

<button (click)="openDialog()" class="add-user-button" mat-fab color="primary" matTooltip="Add User">
  <mat-icon>add</mat-icon>
</button>