<div class="header-container">
  <div class="headline">Dashboard |  <div class="date"> {{getFormattedDate() }}</div>  </div>
  <img class="question-mark" (click)="toggleInstructions()" src="assets/img/question.png"
    alt="picture of question mark">
</div>

<div class="dashboard-information" [ngClass]="{'slide-in': showInstructions}" *ngIf="showInstructions">
  <h2> <b> Welcome to the CRM Dashboard! </b> </h2>
  <b>Welcome to my dashboard! Here, you can track the number of users, companys, events and notes.</b> <br>
  <b>Click on a Container and you get to the Page you want!</b>
  <br>
</div>

<div class="balken"></div>

<div class="complete-dashboard">

  <div class="dashboard-1">

    <div class="first-row">
      <div class="container" routerLink="/user">
        <div class="text">USERS</div>
        <div class="number">{{ userCount }}</div>
      </div>

      <div class="container" routerLink="/notes">
        <div class="text">NOTES</div>
        <div class="number">{{ noteCount }}</div>
      </div>
    </div>

    <div class="second-row">
      <div class="container" routerLink="/company">
        <div class="text">COMPANYS</div>
        <div class="number">{{ companyCount }}</div>
      </div>

      <div class="container" routerLink="/events">
        <div class="text">EVENTS</div>
        <div class="number">{{ eventCount }}</div>
      </div>
    </div>

  </div>




  <div class="chart">
    <canvas id="monthlySales"> </canvas>
  </div>


</div>











<div class="complete-dashboard">

  <div class="chart">
    <canvas id="employees"> </canvas>
  </div>

  <div class="dashboard-1">

    <div class="first-row">
      <div class="container" routerLink="/user">
        <div class="text-2">Frontend Developers</div>
        <div class="number">{{ frontendDeveloperCount }}</div>
      </div>

      <div class="container" routerLink="/user">
        <div class="text-2">Backend Developers</div>
        <div class="number">{{ backendDeveloperCount }}</div>
      </div>

      <div class="container" routerLink="/user">
        <div class="text-2">Projekt Managers</div>
        <div class="number">{{ projectManagerCount }}</div>
      </div>
    </div>

    <div class="second-row">
      <div class="container" routerLink="/user">
        <div class="text-2">System Administrators</div>
        <div class="number">{{ systemAdministratorCount }}</div>
      </div>

      <div class="container" routerLink="/user">
        <div class="text-2">Data Analysts</div>
        <div class="number">{{ dataAnalystCount }}</div>
      </div>

      <div class="container" routerLink="/user">
        <div class="text-2">Data Analysts:</div>
        <div class="number">{{ dataAnalystCount }}</div>
      </div>
    </div>

  </div>

</div>

