.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

mat-card-content {
    padding-left: 0;
    padding-right: 0;
}

.headline {
    display: flex;
    align-items: center;

    font-size: 40px;
    color: black;
    margin-top: 16px;
    margin-bottom: 32px;
    font-weight: 550;

    img {
        margin-left: 16px;
        height: 40px;
    }
}

//--------------------------- DASHBOARD INFORMATION ------------------------ //

.dashboard-information {
    border: 5px solid rgb(63, 81, 181);
    padding: 16px;
    background-color: white;
    margin-bottom: 32px;
}

@keyframes slideInFromRight {
    from {
      transform: translate3d(100%, 0, 0);
    }
    to {
      transform: translate3d(0, 0, 0);
    }
  }
  
  .slide-in {
    animation: slideInFromRight 0.4s ease-in-out;
  }

// ------------------------------------ DASHBOARD ---------------------------- //
.dashboard{
    display: flex;
    justify-content: space-between;
    
    margin-bottom: 64px;
}

.developers-dashboard {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    padding: px;
    width: fit-content;
 }

.crm-dashboard {
   display: flex;
   flex-direction: column;
  
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
   padding: px;
   width: fit-content;
}

.crm-dashboard-first-row{
    display: flex;
}

.crm-dashboard-second-row{
    display: flex;
}

.blue-dashboard {
    background-color: rgb(63, 81, 181);
    color: white;
    font-size: 24px;
    font-weight: 600;
    border: 4px solid rgb(63, 81, 181);

    min-height: 10vh;
    max-height: 10vh;
    min-width: 8vw;
    max-width: 8vw;
    padding: 16px;
    margin: 16px;

    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;

    .amount-number {
        font-size: 70px;
    }

    transition: transform 0.3s ease,
    box-shadow 0.3s ease,
    width 0.3s ease,
    height 0.3s ease;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);

    &:hover {
        transform: scale(1.1);
        box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.5);
        cursor: pointer;
    }
}

.grey-dashboard {
    color: black;
    font-size: 24px;
    font-weight: 600;
    border: 4px solid rgb(173, 179, 214);

    
    min-height: 10vh;
    max-height: 10vh;
    min-width: 8vw;
    max-width: 8vw;
    padding: 16px;
    margin: 16px;

    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;

    .amount-number {
        font-size: 70px;
    }

    transition: transform 0.3s ease,
    box-shadow 0.3s ease,
    width 0.3s ease,
    height 0.3s ease;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);

    &:hover {
        transform: scale(1.1);
        box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.5);
        cursor: pointer;
    }
}




.question-mark{
    height: 45px;
    width: 45px;

    margin-left: 16px;
    margin-bottom: 32px;

    &:hover{
        cursor: pointer;
        opacity: 0.9;
    }
}





//--------------------------- CHART ------------------------- //

.charts{
    display: flex;
    justify-content: space-between;
}

#monthlySales{
    height: 400px !important;
    width: 600px !important;
}

#employees{
    height: 400px !important;
    width: 600px !important;
}

#pie{
    height: 400px !important;
    width: 400px !important;
}

.container{

   box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}


  // ------------------------ BALKEN ---------------- //
  .balken {
    height: 25px;
    width: 100% !important;
    margin-bottom: 64px;
    background: linear-gradient(to right, rgb(54, 152, 244) 0%, rgb(42, 127, 206) 50%, rgb(32, 105, 173) 75%, rgb(25, 87, 145)100%);
}

.center{
    text-align: center;
}


.date{
    font-weight: 100;
    color: grey;
    font-size: 32px;
}