<div class="header-container">
  <h1 class="headline">Dashboard <img src="assets/img/dashboard.png" alt="picture of dashboard-icon"></h1>



  <img class="question-mark" (click)="toggleInstructions()" src="assets/img/question.png"
    alt="picture of question mark">
</div>



<div class="dashboard-information" *ngIf="showInstructions">
  <h2> <b> Welcome to the CRM Dashboard! </b> </h2>

  <b>Welcome to my dashboard! Here, you can track the number of users, companys, events and notes.</b> <br>
  <b>Click on a Container and you get to the Page you want!</b>
  <br>

</div>


<div class="dashboard">
  <div class="user-dashboard" routerLink="/user">
    <p>CURRENT USERS:</p>
    <p class="amount-number">{{ userCount }}</p>
  </div>

  <div class="note-dashboard" routerLink="/notes">
    <p>CURRENT NOTES:</p>
    <p class="amount-number">{{ noteCount }}</p>
  </div>

  <div class="user-dashboard" routerLink="/company">
    <p>CURRENT COMPANYS:</p>
    <p class="amount-number">{{ companyCount }}</p>
  </div>

  <div class="note-dashboard" routerLink="/events">
    <p>CURRENT EVENTS:</p>
    <p class="amount-number">{{ eventCount }}</p>
  </div>
</div>

<div class="dashboard">
  <div class="note-dashboard">
    <p>Current Companys working with Users:</p>
    <p class="amount-number">{{ eventCount }}</p>
  </div>

  <div class="user-dashboard">
    <p>Current Companys working with Users:</p>
    <p class="amount-number">{{ eventCount }}</p>
  </div>

  <div class="note-dashboard">
    <p>Current Companys working with Users:</p>
    <p class="amount-number">{{ eventCount }}</p>
  </div>

  <div class="user-dashboard">
    <p>Current Companys working with Users:</p>
    <p class="amount-number">{{ eventCount }}</p>
  </div>
</div>

<div class="charts">
  

  <canvas id="piechart"> </canvas>

  <canvas id="thirdChart"></canvas>

  <canvas id="asschart"></canvas>

  
</div>

