.headline{
    font-size: 48px;
    color: rgb(63,81,181);
    margin-top: 16px;
    margin-bottom: 32px;
    font-weight:550;
}

.dashboard{
    display: flex;
    justify-content: space-between;
}

.dashboard-bubble{
    height: 20vh;
    width: 20vw;
    background-color: aqua;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 32px;
    font-weight: 400;

    &:hover{
        background-color: rgb(27, 131, 131);
        cursor: pointer;
    }
}