<h1 class="headline">Dashboard <img src="assets/img/dashboard.png" alt="picture of dashboard-icon"></h1>

<div class="dashboard-information">
    <h2> <b> Welcome to the CRM Dashboard! </b> </h2>

    <b>Welcome to my dashboard! Here, you can track the number of users and notes. ( Beta Version )</b> <br> <br>
  
</div>


<div class="dashboard">
    <div class="user-dashboard">
    <p>CURRENT USERS:</p>
    <p class="user-number">{{ userCount }}</p>
    </div>


    <div class="digital-clock">
        <p class="time">{{ currentTime | date: 'hh:mm:ss a'}} <img src="assets/img/clock.png"> </p>
      </div>

    <div class="note-dashboard">
        <p>CURRENT NOTES:</p>
        <p class="note-number">{{ noteCount }}</p>
    </div>
  </div>