.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

mat-card-content {
    padding-left: 0;
    padding-right: 0;
}

.headline {
    display: flex;
    align-items: center;

    font-size: 40px;
    color: black;
    margin-top: 16px;
    margin-bottom: 32px;
    font-weight: 550;

    img {
        margin-left: 16px;
        height: 40px;
    }
}

//--------------------------- DASHBOARD INFORMATION ------------------------ //

.dashboard-information {
    border: 5px solid grey;
    padding: 16px;
    background-color: white;
    margin-bottom: 32px;
}

@keyframes slideInFromRight {
    from {
        transform: translate3d(100%, 0, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

.slide-in {
    animation: slideInFromRight 0.4s ease-in-out;
}

// ------------------------------------ DASHBOARD ---------------------------- //

.complete-dashboard{
    display: flex;

    justify-content: space-between;
}

.dashboard-1 {
    display: flex;
    justify-content: space-between;

    margin-bottom: 5vh;

    background-color: rgb(239, 243, 245);
    border: 5px solid rgb(233, 234, 235);
    border-radius: 10px;

    .container {
        width: 20em;
        margin: 16px;

        transition: transform 0.3s ease,
            box-shadow 0.3s ease,
            width 0.3s ease,
            height 0.3s ease;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);

        &:hover {
            transform: scale(1.01);
            box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.5);
            cursor: pointer;
        }
    }

    .text {
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: #C2185B;
        color: white;

        padding: 8px;
        font-size: 24px;
        font-weight: bold;
        height: 3vh;
    }

    .number {
        display: flex;
        align-items: center;
        justify-content: center;

        background-color: white;
        color: black;

        padding: 8px;
        font-size: 40px;
        font-weight: bold;
        height: 10vh;
    }
}

.text-2{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #F8BBD0;
    color: white;

    padding: 8px;
    font-size: 24px;
    font-weight: bold;
    height: 3vh;
}

.dashboard-1{
    display: flex;
    flex-direction: column;
}

.first-row{
    display: flex;
}

.second-row{
    display: flex;
}
// ------------------------ QUESTION MARK -------------------- //


.question-mark {
    height: 45px;
    width: 45px;

    margin-left: 16px;
    margin-bottom: 32px;

    &:hover {
        cursor: pointer;
        opacity: 0.9;
    }
}

//--------------------------- CHART ------------------------- //



.chart {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 16px;

    margin-bottom: 5vh;

    background-color: rgb(239, 243, 245);
    border: 5px solid rgb(233, 234, 235);
    border-radius: 10px;
}

#monthlySales {
    height: 420px !important;
    width: 850px !important;

    background-color: white;
    padding: 16px;
}

#employees {
    height: 400px !important;
    width: 800px !important;

    background-color: white;
    padding: 16px;

}

#pie {
    height: 400px !important;
    width: 400px !important;

    background-color: white;
    padding: 16px;
}




// ------------------------ BALKEN ---------------- //
.balken {
    height: 25px;
    width: 100% !important;
    margin-bottom: 64px;
    background: linear-gradient(to right, #F8BBD0, #e64379 50%, #d13e6f 75%, #d62f72 100%);
}

.center {
    text-align: center;
}


.date {
    font-weight: 100;
    color: grey;
    font-size: 32px;

    margin-left: 8px;
}