.project-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    h1{
        font-size: 48px;
        font-weight: bold;
        color: rgb(43, 43, 156);
    }
   
}

.login-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.login-button{
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}